archive/*
data/*
results/*
slurm/*
wandb/*
models/*
minisam_env/*
scripts/*
notebooks/*
/*.out
/*.sh
*.sh
*.ipynb
*.pyc
test.py
.conda/*
*.sh
*.ipynb
minisam.sh
unet.sh
*.pt
*.txt
*.csv
*.json
*.yaml
*.yml
*.jsonl
*.jsonl.gz
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.out
